body
{
    background: cyan;
}
h1
{
   text-align: center;
}
.p1
{
   text-align: center;
   font-size: 5px
}
button
{
   width:100%;
   border-radius:10px;
   border:none;
   outline:none;
   height:50px;  
}
input
{
    height:50px;
    border-radius:10px;
    width:100%; 
}
